* { box-sizing:border-box; }

body
{
	font-size: 11pt;
}

#statusbar {
	background-color: #e7e7e7;
	height: 30px;
	border: none;
	line-height:30px;
	text-align: center;
	margin-top: 50px;
	display: none;
}

.navbar-logo { color: #F3C649; }
.green { color: #5cb85c !important; }
.red { color: #dd0000 !important; }

#NavDropChanges { color: #dd0000; }

.scrollable-dropdown {
    height: auto;
    max-height: 400px;
    overflow-x: hidden;
}

.scrollable-dropdown::-webkit-scrollbar {
    display: none;
}

#content
{
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 0 20px 20px 20px;
}

.tab-content {
	padding: 10px;
}

#SignInForm, #SignUpForm, #ChangePasswordForm, #PageNotFound, #NotAuthorized, #Offline, #DisplayPage, #EditPage, #NewPage, #PreviewPage, #Versions, #NavTableOfContents, #NavEditPage, #NavDropChanges, #NavPreviewChanges, #NavSaveChanges, #NavBackToComposer, #NavGetVersions,
#NavPublicPage, #NavProtectedPage, #NavPrivatePage, #Users, #EditPermissions, #NewUserForm
{
	display: none;
}

.hide-on-desktop
{
	display: none !important;
}

#NewPage-InputContent-Editor,
#EditPage-InputContent-Editor {
	width: 100%;
	min-height: 400px;
	font-size: 11pt;
}

a.link-newpage { color: #080; }
a.link-notauthorized { color: #d00; }

@media (min-width: 768px)
{
	.collapsed-navbar
	{
		display: none;
	}
}

/*480*/
@media (max-width: 768px) {
	
	.hide-on-desktop
	{
		display: block;
	}
	
	.expanded-navbar
	{
		display: none;
	}
}

.inverse-dropdown
{
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown > li > a
{
 color: #999;
}

.inverse-dropdown > li > a:hover
{
	color: #fff;
    background-color: #000;
}

.inverse-dropdown > .divider
{
 background-color: #000;
}


/*
 * Animation of the animation icon
 * (http://www.bootply.com/128062)
 */
 
.glyphicon-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

.glyphicon-animate-slow {
    -animation: spin 1.5s infinite linear;
    -webkit-animation: spin2 1.5s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}